In [2]:
import pandas as pd
from glob import glob
import os
import numpy as np

In [9]:
budget_df = pd.read_csv('/Users/elliotevins/movie-project/movie-analysis-project/unzipped-data/tn.movie_budgets.csv')

In [10]:
budget_df['movie_name'] = budget_df['movie']

In [14]:
#check for Nan values
budget_df.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
movie_name           0
dtype: int64

In [129]:
#Remove spaces
budget_df['movie_name'] = budget_df['movie_name'].str.replace(" ", "")
#Lower case
budget_df['movie_name'] = budget_df['movie_name'].str.lower()
#Remove colons:
budget_df['movie_name'] = budget_df['movie_name'].str.replace(":", "")
#Change ampersand:
budget_df['movie_name'] = budget_df['movie_name'].str.replace("&", "and")
#Remove periods:
budget_df['movie_name'] = budget_df['movie_name'].str.replace(".", "")
#Remove commas:
budget_df['movie_name'] = budget_df['movie_name'].str.replace(",", "")
#Remove slashes:
budget_df['movie_name'] = budget_df['movie_name'].str.replace("/", "")
#Remove hyphens:
budget_df['movie_name'] = budget_df['movie_name'].str.replace("-", "")
#Remove apostrophes:
budget_df['movie_name'] = budget_df['movie_name'].str.replace("'", "")
#Remove junk:
budget_df['movie_name'] = budget_df['movie_name'].str.replace("â", "")
#Remove junk:
budget_df['movie_name'] = budget_df['movie_name'].str.replace("â\x80\x94", "")
#Set index to movie name
budget_df.set_index('movie_name')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
movie_name,,,,,,
avatar,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
piratesofthecaribbeanonstrangertides,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
darkphoenix,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
avengersageofultron,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
starwarsepviiithelastjedi,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
red11,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
following,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
returntothelandofwonders,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
aplaguesopleasant,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
mydatewithdrew,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [130]:
#Clean and quantify budget:
budget_df['production_budget'] = budget_df['production_budget'].str.replace(",", "")
budget_df['production_budget'] = budget_df['production_budget'].str.replace("$", "")
budget_df['production_budget'] = budget_df['production_budget'].astype('int64')
budget_df['production_budget'].dtype

dtype('int64')

In [131]:
#Clean and quantify domestic gross:
budget_df['domestic_gross'] = budget_df['domestic_gross'].str.replace(",", "")
budget_df['domestic_gross'] = budget_df['domestic_gross'].str.replace("$", "")
budget_df['domestic_gross'] = budget_df['domestic_gross'].astype('int64')
budget_df['domestic_gross'].dtype

dtype('int64')

In [132]:
#Clean and quantify worldwide gross:
budget_df['worldwide_gross'] = budget_df['worldwide_gross'].str.replace(",", "")
budget_df['worldwide_gross'] = budget_df['worldwide_gross'].str.replace("$", "")
budget_df['worldwide_gross'] = budget_df['worldwide_gross'].astype('int64')
budget_df['worldwide_gross'].dtype

dtype('int64')

In [133]:
#Convert release_date to datetime
budget_df['release_date'] =  pd.to_datetime(budget_df['release_date'], format='%b %d, %Y')
budget_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,movie_name
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,avatar
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,piratesofthecaribbeanonstrangertides
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,darkphoenix
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,avengersageofultron
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,starwarsepviiithelastjedi

In [134]:
#remove duplicate based budget
budget_df = budget_df.sort_values('production_budget').drop_duplicates('movie_name', keep='first')

In [143]:
budget_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5698 entries, 5781 to 0
Data columns (total 7 columns):
id                   5698 non-null int64
release_date         5698 non-null datetime64[ns]
movie                5698 non-null object
production_budget    5698 non-null int64
domestic_gross       5698 non-null int64
worldwide_gross      5698 non-null int64
movie_name           5698 non-null object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 356.1+ KB

Now let's do the same to the name basics:

In [136]:
title_df = pd.read_csv('./unzipped-data/imdb.title.basics.csv')
title_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [137]:
#Drop unneeded columns and build new index column 
title_df['movie_name'] = title_df['primary_title']
title_df = title_df.drop(columns=['start_year', 'runtime_minutes', 'genres', 'primary_title', 'original_title'])
title_df.head()

      tconst                       movie_name
0  tt0063540                        Sunghursh
1  tt0066787  One Day Before the Rainy Season
2  tt0069049       The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera

In [138]:
#Remove spaces
title_df['movie_name'] = title_df['movie_name'].str.replace(" ", "")
#Lower case
title_df['movie_name'] = title_df['movie_name'].str.lower()
#Remove colons:
title_df['movie_name'] = title_df['movie_name'].str.replace(":", "")
#Change ampersand:
title_df['movie_name'] = title_df['movie_name'].str.replace("&", "and")
#Remove periods:
title_df['movie_name'] = title_df['movie_name'].str.replace(".", "")
#Remove commas:
title_df['movie_name'] = title_df['movie_name'].str.replace(",", "")
#Remove slashes:
title_df['movie_name'] = title_df['movie_name'].str.replace("/", "")
#Remove hyphens:
title_df['movie_name'] = title_df['movie_name'].str.replace("-", "")
#Remove apostrophes:
title_df['movie_name'] = title_df['movie_name'].str.replace("'", "")
#Remove junk:
title_df['movie_name'] = title_df['movie_name'].str.replace("â", "")
#Remove junk:
title_df['movie_name'] = title_df['movie_name'].str.replace("â\x80\x94", "")
#Set index to movie name
title_df = title_df.set_index('movie_name')

In [139]:
title_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, sunghursh to chicoalbuquerquerevelações
Data columns (total 1 columns):
tconst    146144 non-null object
dtypes: object(1)
memory usage: 2.2+ MB

Let's merge 'em

In [140]:
budget_chungus = pd.merge(budget_df, title_df, on = 'movie_name', how ='left')
budget_chungus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7086 entries, 0 to 7085
Data columns (total 8 columns):
id                   7086 non-null int64
release_date         7086 non-null datetime64[ns]
movie                7086 non-null object
production_budget    7086 non-null int64
domestic_gross       7086 non-null int64
worldwide_gross      7086 non-null int64
movie_name           7086 non-null object
tconst               3853 non-null object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 498.2+ KB

In [144]:
budget_chungus.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,movie_name,tconst
0,82,2005-08-05,My Date With Drew,1100,181041,181041,mydatewithdrew,NaN
1,81,2015-09-29,A Plague So Pleasant,1400,0,0,aplaguesopleasant,tt2107644
2,80,2005-07-13,Return to the Land of Wonders,5000,1338,1338,returntothelandofwonders,NaN
3,79,1999-04-02,Following,6000,48482,240495,following,NaN
4,77,2004-12-31,The Mongol King,7000,900,900,themongolking,NaN

Let's CSV this chungus:

In [142]:
budget_chungus.to_csv('./etl_csvs/budget_chungus.csv')